__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.log
.DS_Store
*.mp4
*.jpg
*.png
.vscode/
.idea/
template_images/
streams_data.json
annotated_frames/
firebase-service-account.json
.env

